@media (max-width: 576px) {
    .modal-dialog {
        width: 97%;
    }
    .logo-small span {
        display: none;
    }
}
@media (max-width: 767px) {
    .logo span {
        display: none;
    }
}
.navi {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}
.curved-big,
nav .btn {
    border-radius: 90px 90px 90px 90px;
}
.curved-mid {
    border-radius: 40px;
}
.trc {
    border-top-right-radius: 10px;
}
.tlc {
    border-top-left-radius: 10px;
}
.brc {
    border-bottom-right-radius: 10px;
}
.blc {
    border-bottom-left-radius: 10px;
}
nav .btn:hover, 
.search-bar-item:hover,
.language-item:hover,
.lang-modal-option:hover {
    background-color: rgba(128, 128, 128, 0.200);
}
#rent-text {
    font-size: 12px;
    font-weight: 600;
}
.logo-small,
.logo {
    color: red;
    font-size: xx-large;
}
.logo-small span,
.logo span {
    font-size: large;
    font-weight: 700;
}
.btn-profile {
    font-size: x-large;
}
.btn-profile:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329);
}
.search-bar {
    max-width: 750px;
    width: 80%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    border-radius: 90px 90px 90px 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}
.search-bar-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.search-bar-item span {
    font-size: small;
    font-weight: 600;
    padding-left: 15px;
}
.search-bar-item input {
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
    color: black;
    outline: none;
    text-align: left;
    padding-left: 15px;
}
.search-bar-item .btn {
    color: white
}

.bg-shadow{
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.45);
}
.search-bar-small {
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    border-radius: 90px 90px 90px 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}
.opinion-bar {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}
.search-bar-small span {
    font-size: 9px;
    font-weight: 600;
}
.divider {
    width: 1px;
    height: 40px;
    background-color: #e0e0e0;
    margin: 0 -2px;
    z-index:10;
}
.divider-big {
    width: 1px;
    height: 90px;
    background-color: #e0e0e0;
    margin: 0 -2px;
    z-index:10;
}
.category-nav {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    max-width: 1800px;
    width: 100%;
    margin-right: 180px;
    margin-left: 90px;
    padding: 10px;
}
.category-nav::-webkit-scrollbar {
    display: none;
}
.category-item:hover {
    background-color: rgba(255, 0, 0, 0);
    filter: brightness(0);

}
/* .category-item:hover::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 82%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transform: translate(11%, 0)
} */

.category-item {
    filter: brightness(3);
}
.category-item .span1{
    max-height: 20px;
}
.category-item .span2{
    max-height: 20px;
}
.category-nav-button {
    box-shadow: 0px 0px 20px 20px rgb(240, 240, 240);
}
.category-nav-filter,
.category-nav-button:hover {
    cursor: pointer;
}
.w33 {
    max-width: 33.555%;
    display: flex;
}
.curved-small,
.atraction-item-card img {
    border-radius: 20px 20px 20px 20px;
}

.atraction-item-card p,
.atraction-item-card span {
    margin-bottom: 0;
    font-size: small;
}
.heart-btn {
    border: 0;
}
.heart-btn:hover {
    transform: scale(110%);
}
.client-choice-badge{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.301);
    border-radius: 20px 20px 20px 20px;
    font-weight: 200;
}

.dropdown-menu {
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.45);
    z-index: 1000;
    min-width: 200px;
    border: 0;
}

.dropdown-item, 
.dropdown-item-login {
    font-size: small;
    margin-bottom: 5px;
}

.dropdown-item-login:hover {
    cursor: pointer;
}
.lang-modal .modal-dialog {
    max-width: 1200px;
    width: 90%;
}
.lang-modal .modal-content {
    border-radius: 40px 40px 40px 40px;
}
.lang-modal .modal-body {
    max-height: 100vh;
}
.lang-modal .modal-content .btn-close {
    padding: 10px;
    margin-left: 0;
}
.filter-modal .modal-dialog {
}
.filter-modal .modal-content {
}
.filter-modal .modal-body {
}
.filter-modal .modal-content .btn-close {
}
.form-check-input:checked
{
    background-color: black;
    border-color: black;
}
.form-check-input:focus{
    border-color: black;
    box-shadow: none;
}
.language-item {
    max-width: 150px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    border: 1px;
    border-color: black;
    font-size: small;
    padding: 0;
    cursor: pointer;
}
.option-description {
    filter: brightness(3);
}
.mainpage-container,
.container-custom {
    max-width: 1800px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
.attraction-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
.language-pill {
    max-width: 400px;
    width: 100%;
}
.translate-description {
    font-size: 13px;
}
.round-10 {
    border-radius: 10px 10px 10px 10px;
}

.attraction-photos .photo-left {
    max-width: 600px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.attraction-photos .photo-right {
    max-width: 600px;
    width: 100%;
}

.attraction-photos .photo-right img {
    width: 100%;
}
.fw-500 {
    font-weight: 500;
}
.fs-small {
    font-size: small;
}
.fs-14 {
    font-size: 14px;
}
.attraction-card {
    max-width: 350px;
    width: 100%;
    padding-inline: 7px;
}
.attraction-card img {
    height: 50%;
}
.carousel-control-prev,
.carousel-control-next {
    height: 0px;
}

.rating-single {
    max-width: 300px;
    width: 100%;
}
.rating-big {
    font-size: 100px;
}
.attraction-photo-nav {
    z-index: 1000;
    background-color: white;
}
.attraction-photo-nav a {
   text-decoration: none ;
   color: black;
   display: inline-flex;
}
.filter-modal .btn-close {
    margin-left: auto;
    font-size: 10px;
}
.filter-modal-option {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}
.dropdown-toggle::after {
    position: absolute;
    right: 5%;
    top: 50%;
}

#priceCard .dropdown-item:active{
    background-color: white;
    color: #212529;
}
#priceCard .dropdown-item:hover{
    cursor:default;
    background-color: white;
}
#priceCard .close-btn{
    margin-left: 120px;
}

.lang-modal .nav-link {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
}

.filter-option-button {
    transition: transform 0.2s;
}
.filter-option-button:active {
    transform: scale(0.9) !important;
}
.show-map-button {
    position: fixed;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5%;
    z-index: 1000;
    opacity: 90%;
}

.show-map-button a{
    text-decoration: none;
    color: white;
}